/* =================================
  Base Styles
==================================== */

* {
  font-family: 'Merriweather', serif;

}

body {
  margin: 0;
}

h1 {
  width: 100%;
  color: black;
  background: firebrick;
  text-align: center;
  padding: 5px;
  margin: 0;
}

hr {
	border-top: 3px double firebrick;
  width: 90%;
}

label {
  width: 180px;
  padding-right: 12px;
  font-weight: bold;

}

input {
  height: 35px;
  font-size: 14px;
  margin: 10px;
}

select {
  height: 40px;
  margin: 10px;
}

fieldset {
  border: 0px;
}





  /* =================================
    Layout
  ==================================== */

.main-header {
  display: flex;
  text-align: center;
  flex-direction: column;
  margin-bottom: 5px;
}



.second-header {
  margin-bottom: 0;
}

.form-title {
  display: flex;
  align-self: center;
  font-size: 1.5em;
  font-weight: bold;
}

::placeholder {
  text-align: right;
}

.form-row {
  display: flex;
  flex-direction: column;
  padding-left: 2em;
  justify-content: flex-start;
  width: 100%;
  padding-left: 0;
  align-self: center;
}

.form-input {
  width: 45%;
}

.newsletter {
  width: 13px;
  height: 35px;
  padding: 5px;
  margin: 0px 20px 0px 3px;
  vertical-align: bottom;
  position: relative;
  top: 8px;
}

.box {
  margin: 0px 20px 0px 3px;
}

.house {
  display: flex;
  align-self: center;
  justify-content: flex-start;
}

.radio {
margin: 0px 20px 0px 3px;
align-self: center;
padding: 5px;
}

}

input[type="radio"] {
  width: 10%;
  display: inline-block;
  height: 20px;
  margin: 0 20px 0 3px;
  text-align: left;
}



textarea {
  height:100px;
  width: 98%;
  font-size: 14pt;
  border-color: firebrick;
}

button {
border: 25px;
background: firebrick;
color: black;
border-style: outset;
border-color: firebrick;
height: 90px;
width: 100%;
font-size: 25px;
text-shadow:none;

text-align: center;
}

button:hover{
		color: black;
		background-color: white;
		border:  .1rem solid black;
	}
/* =================================
  flexbox
==================================== */




@media (min-width: 769px) {



  hr {
    width: 62%;
  }

select {
  width: 40.3%;
}

label {
  justify-content: center;
}

input {
  width: 40%;
  text-align: left;
}



.form-input {
  width: 5%;
}

.header {
  display: flex;
}

.main-header {
  display: flex;
  flex-direction: column;

  margin: 0;
  width: 100%;

}

.form-title,
p {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 0;
    width: 50%;
    margin-left: 18%;

}

.form-row {
  display: flex;
  flex-direction: row;
  padding-left: 19%;
  margin-top: 20px;
  align-self: center;
}



.check {
  padding-left:17.9%;
}

#radio,
#lastradio {
  width: 22%;
  margin: 0;
}



.house {
  width: 8.9%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-align: left;
  padding-left: 17.8%;
  margin-top: 17px;
}

.textarea {
  display: flex;
  flex-direction: row;
  align-self: center;
  width: 50%;
  margin: 10px;
}

textarea {
  width: 64.5%;
  margin-left:18%;
}

button {
  display: flex;
  flex-direction: row;
  text-align: center;
  padding-left: 28%;
  width: 65%;
  margin-left:18%;
  align-self: center;

}
}
