/* =================================
  Base Styles
==================================== */

* {
  font-family: 'Merriweather', serif;

}

body {
  margin: 0;
}

h1 {
  width: 100%;
  color: black;
  background: firebrick;
  text-align: center;
  padding: 5px;
  margin: 0;
}

hr {
	border-top: 3px double firebrick;
  width: 90%;
}

label {
  width: 180px;
  padding-right: 12px;
  font-weight: bold;
  text-align: left;
}

input {
  height: 35px;
  font-size: 14px;
  margin: 10px;
}

select {
  height: 40px;
  margin: 10px;
}

fieldset {
  border: 0px;
}





  /* =================================
    Layout
  ==================================== */

.main-header {
  display: flex;
  text-align: center;
  flex-direction: column;
  margin-bottom: 5px;
}



.second-header {
  margin-bottom: 0;
}

.form-title {
  display: flex;
  font-size: 1.5em;
  font-weight: bold;
}



.form-row {
  display: flex;
  flex-direction: column;
  padding-left: 2em;
  justify-content: flex-start;
  width: 100%;
  padding-left: 0;
}

.form-input {
  width: 45%;
}
/* =================================
  flexbox
==================================== */




@media (min-width: 769px) {

  hr {
    width: 50%;
  }

select {
  width: 11%;
}

.form-input {
  width: 5%;
}

.header {
  display: flex;
}

.main-header {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0;
  width: 100%;

}

.form-row,
.form-input {
  flex-direction: row;
  text-align: center;
  padding-left: 25px;
}

}
